[access]
	inheritFrom = HSS/CCDM
[access "refs/*"]
	owner = group ccsm-admin
	read = group 5g-cicd
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
	read = group Replication_SEKI_ECN_DO_NOT_REMOVE
	read = group Replication_SELI_ECN_DO_NOT_REMOVE
	read = group ccsm-all
	read = group ccsm-ci
[access "refs/for/refs/*"]
	push = group ccsm-admin
	pushMerge = group ccsm-admin
[access "refs/heads/*"]
	label-Verified = -1..+1 group ccsm-ci
	create = group ccsm-admin
	delete = group ccsm-admin
	push = group ccsm-admin
	label-Code-Review = -2..+2 group ccsm-admin
[access "refs/meta/*"]
	label-Code-Review = -2..+2 group ccsm-admin
	label-Verified = -1..+1 group ccsm-admin
[submit]
	action = fast forward only
	mergeContent = false
[plugin "eiffel"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnames = false
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
